.card-body{
    height: 1px;
    font-size: xx-small;
}
.breaking-img{
    height: 200px;
    width: 100%;
    background-color: black;
    object-fit: cover;
    object-position: center;
    opacity: 0.5;
}